<form>
  <h1>Attributes</h1>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Enabled</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.enabled"
            type="checkbox"
          >
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Sets count</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.sets"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Initial Value</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.initialValue"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Minimum value</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.minValue"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Maximum value</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.maxValue"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Iterations</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.attributes.controls.iterations"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <h1>Origins and careers</h1>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Enabled</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.careers.controls.enabled"
            type="checkbox"
          >
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Number of choices</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.careers.controls.count"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <h1>Specialities</h1>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Enabled</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.specialities.controls.enabled"
            type="checkbox"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Speciality sets count</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.specialities.controls.sets"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Starter specialities</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.specialities.controls.initialChoices"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Items in set</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.specialities.controls.count"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <h1>Powers</h1>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Enabled</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.powers.controls.enabled"
            type="checkbox"
          >
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Power sets count</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.powers.controls.sets"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Powers in set</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.powers.controls.count"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>

  <h1>Improvements</h1>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Enabled</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.improvements.controls.enabled"
            type="checkbox"
          >
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Improvements count</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            [formControl]="configForm.controls.improvements.controls.count"
            class="input"
          >
        </p>
      </div>
    </div>
  </div>
  <div
    *ngIf="!localOnly"
    class="field is-grouped"
  >
    <div class="control">
      <button
        (click)="saveConfig()"
        [disabled]="configForm.pristine"
        class="button is-link"
        type="button"
      >Save
      </button>
    </div>
    <div class="control">
      <button
        (click)="restore()"
        [disabled]="!configService.config.isAltered"
        class="button is-link is-danger"
        type="button"
      >Restore defaults
      </button>
    </div>
  </div>
  <div *ngIf="localOnly">
    <div class="control">
      <button
        (click)="restore()"
        [disabled]="configForm.pristine"
        class="button is-link is-danger"
        type="button"
      >Restore defaults
      </button>
    </div>
  </div>
</form>
