<h1 class="title">Bulk generator</h1>
<p class="subtitle">Generate multiple character templates:</p>

<div class="tabs">
  <ul>
    <li [class.is-active]="activeTab === 'Generator'"><a (click)="activeTab = 'Generator'">Generator</a></li>
    <li [class.is-active]="activeTab === 'Configure'"><a (click)="activeTab = 'Configure'">Configure</a></li>
  </ul>
</div>

<app-configuration
  #configForm
  [hidden]="activeTab !=='Configure'"
  [localOnly]="true"
></app-configuration>
<div [hidden]="activeTab !=='Generator'">
  <div class="block">
    <form [formGroup]="form">
      <div class="control ">
        <label>seed:</label>
        <input
          class="input"
          formControlName="seed"
        >
      </div>
    </form>
  </div>


  <!--<button mat-raised-button color="primary" (click)="generateTemplates()">Generate</button>-->

  <!--<button *ngIf="characters.length" mat-raised-button color="primary" (click)="print()">print</button>-->

  <div class="field is-grouped">
    <div class="control">
      <button
        (click)="generateTemplates()"
        class="button is-link"
        type="button"
      >Generate
      </button>
    </div>
    <!--  <div class="control">-->
    <!--    <button type="button" [disabled]="!decks.length" class="button is-link is-danger" (click)="print()">print</button>-->
    <!--  </div>-->
  </div>


  <div
    *ngIf="decks.length > 0"
    class="generation-container"
    id="character-container"
  >
    <ng-container *ngFor="let deck of decks">
      <app-hero-result-card
        [config]="cfg"
        [deck]="deck"
      ></app-hero-result-card>
    </ng-container>


  </div>
</div>
