<ul *ngIf="attributes">
  <li><b class="is-capitalized">strength</b>: {{ attributes.strength |attrDesc}}</li>
  <li><b class="is-capitalized">coordination</b>: {{ attributes.coordination |attrDesc}}</li>
  <li><b class="is-capitalized">prowess</b>: {{ attributes.prowess |attrDesc}}</li>
  <li><b class="is-capitalized">awareness</b>: {{ attributes.awareness |attrDesc}}</li>
  <li><b class="is-capitalized">intellect</b>: {{ attributes.intellect |attrDesc}}</li>
  <li><b class="is-capitalized">willpower</b>: {{ attributes.willpower |attrDesc}}</li>
</ul>
