<div *ngIf="power" class="power-container" [class.burned]="burnCheckbox.checked">
  <input [appWatchObject]="power" (dataChange)="burnCheckbox.checked = false" class="is-hidden" type="checkbox" #burnCheckbox>
  <div class="is-flex-desktop on-mobile-reverse-layout">
    <div class="media-content">
      <div class="">
        <div>
          <p class="title is-5 has-text-weight-bold">{{ power.name }}</p>
          <div class="mb-3">
            <table>
              <tr>
                <td class="has-text-right"><b>Type:</b></td>
                <td>{{ power.type }}</td>
              </tr>
              <tr>
                <td class="has-text-right">
                  <b>Starting lvl:</b>
                </td>
                <td>{{ power.startingLvl }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="media-right">
      <div *ngIf="delete">
        <button class="button is-danger" (click)="onDelete.emit(true)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <div *ngIf="burn">

        <button class="button is-danger" (click)="burnCheckbox.click()">
          {{ burnCheckbox.checked ? 'unburn power' : 'Burn power 🔥' }}
        </button>
<!--        <div class="has-text-right mb-2" *ngIf="burnCheckbox.checked">burn points: {{power.startingLvl + power.samePowerCount-1}} 🔥</div>-->

      </div>
      <div
        *ngIf="power.samePowerCount > 1"
        class="media-right"
      >
        <p class="subtitle is-6">
          selected {{ power.samePowerCount }} times
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <p *ngIf="power.description">
      <span class="has-text-weight-bold">
        Description:</span><br>
      <span markdown [data]="power.description"></span>
    </p>
    <div class="tags-container block">
      <div><b>TAGS:</b></div>
      <div class="tags">
        <ng-container *ngFor="let tag of power.mechanicalTags.split('|')">
          <div class="tag is-link is-normal">{{tag}}</div>
        </ng-container>
      </div>
    </div>
    <p *ngIf="power.example">
            <span class="has-text-weight-bold">Example:</span><br>
      <span markdown [data]="power.example"></span>

    </p>
    <p *ngIf="power.choiceText">
      <span class="has-text-weight-bold">Choices:</span> <br> {{ power.choiceText }}
    </p>
    <p *ngIf="power.extrasText">
            <span class="has-text-weight-bold">
              extras:</span>
      <span markdown [data]="power.extrasText"></span>
    </p>

  </div>
  <button (click)="onAdd.emit(power)" *ngIf="addable" class="button is-primary">Add <i class="fa fa-plus"></i> </button>
</div>

