<div class="columns block">
  <div
    *ngFor="let origin of originSets"
    class="column"
  >
    <input
      #radioBtn
      [formControl]="control"
      [value]="origin"
      class="is-hidden"
      name="attributeSetRadio"
      type="radio"
    >
    <div
      (click)="radioBtn.click()"
      [class.has-background-success-dark]="radioBtn.checked"
      [class.has-text-success-light]="radioBtn.checked"
      class="box is-clickable"
    >
      <h1>{{ origin.name }}</h1>
      <p>{{ origin.description }}</p>
      <span (click)="$event.stopPropagation()">
        <modal
          [title]="origin.name"
          [tpl]="originTmpl"
        >
          <button
            class="button is-info  is-size-7"
          ><i class="fa fa-magnifying-glass mr-5"></i> Details
          </button>
        </modal>
      </span>

      <ng-template #originTmpl>
        <div class="has-text-dark">
          <p>{{origin.description}}</p>
          <p><b>Example:</b> {{origin.example}}</p>
          <p><b>Bonus:</b> {{origin.mechanics}}</p>
        </div>
      </ng-template>

    </div>
  </div>
</div>

