@import "@angular/material/core/core";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'bulma/css/bulma.css';
@import '@fortawesome/fontawesome-free/css/all.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  print-color-adjust: exact;
}

.box, div.avoid-break {
  break-inside: avoid;
}

body.printable-page {
  margin-left: 10px;
  margin-right: 10px;
}


.h-100 {
  height: 100%;
}

.is-unclickable {
  cursor: default !important;
}


@media (max-width: 768px) {
  .box {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .section {
    padding: 2rem .1rem
    //padding-right: 0.2em;
    //padding-left: 0.2em;
  }
}
