@import "@angular/material/core/core";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'bulma/css/bulma.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.box, div.avoid-break {
  break-inside: avoid;
}

body.printable-page {
  margin-left: 10px;
  margin-right: 10px;
}
